{
    "root": true,
    "extends": "eslint:recommended",
    "env": {
        "es6": true,
        "node": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 9
    },
    "rules": {
        "strict": ["error", "global"]
    },
    "overrides": [
        {
            "files": ["src/lightning-stubs/**"],
            "parser": "@babel/eslint-parser",
            "parserOptions": {
                "sourceType": "module",
                "requireConfigFile": false,
                "babelOptions": {
                    "plugins": [
                        [
                            "@babel/plugin-proposal-decorators",
                            { "legacy": true }
                        ]
                    ]
                }
            },
            "env": {
                "browser": true
            }
        }
    ]
}
