version: 2.1

executors:
  node:
    docker:
      - image: circleci/node:14


commands:
  save_yarn_cache:
    description: Save cache for future build
    steps:
      - save_cache:
          key: v1-yarn-deps-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
  restore_yarn_cache:
    description: Restore cache from previous build
    steps:
      - restore_cache:
          keys:
          - v1-yarn-deps-{{ checksum "yarn.lock" }}

jobs:
  build:
    executor: node
    steps:
      - checkout
      - restore_yarn_cache
      - run:
          name: Install dependencies and build
          command: yarn install --frozen-lockfile
      - save_yarn_cache
      - run:
          name: Check License Headers
          command: yarn check-license-headers
      - run:
          name: Check formatting
          command: yarn format:check
      - run:
          name: Run linter
          command: yarn lint
      - run:
          name: Run unit tests
          command: yarn test

workflows:
  build_and_test:
    jobs:
      - build
